<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
<head>
    <title>{{ head.title }}</title>
    {{{ resourceHints }}}
    {{{ head.meta_tags }}}
    {{{ head.config }}}
    {{#block "head"}} {{/block}}
    <link href="{{ head.favicon }}" rel="shortcut icon">
    <link rel="preconnect" href="https://staticw2.yotpo.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://ajax.googleapis.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>
        // Change document class from no-js to js so we can detect this in css
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>
    <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js' resourceHint='preload' as='script'}}"></script>
    {{getFontsCollection font-display='swap'}}
    {{{stylesheet '/assets/css/theme.css'}}}
    {{{head.scripts}}}
    {{{head.rsslinks}}}
    {{inject 'themeSettings' theme_settings}}
    {{inject 'genericError' (lang 'common.generic_error')}}
    {{inject 'maintenanceMode' settings.maintenance}}
    {{inject 'urls' urls}}
    {{inject 'secureBaseUrl' settings.secure_base_url}}
    {{inject 'cartId' cart_id}}
    {{inject 'template' template}}
</head>
    <body id="body" class="main{{#if theme_settings.body_width '===' 960}} nine-sixty{{/if}} {{#if theme_settings.body_width '===' 1170}} eleven-seventy {{/if}} {{#if theme_settings.body_width '===' 1280}} twelve-eighty {{/if}} {{#if theme_settings.body_width '===' 1366}} thirteen-sixty-six {{/if}} {{#if theme_settings.body_width '===' 1440}} fourteen-forty {{/if}} base-layout {{#if theme_settings.header-layout '!==' 'in-container'}} header-full-width{{/if}} {{#if theme_settings.header-layout '===' 'in-container'}} header-in-container{{/if}}">

        {{{snippet 'header'}}}
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>

        {{#and settings.privacy_cookie settings.is_eu_ip_address}}
            {{> components/common/cookie}}
        {{/and}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script defer src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            window.addEventListener('DOMContentLoaded', function() {
                window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
            });
        </script>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css" media="print" onload="this.media='all'">

        {{{footer.scripts}}}

    </body> 
</html>
